In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
men_results = pd.read_csv('men_results.csv', index_col=0)
men_results.head()

         date home_team away_team  home_score  away_score tournament
0  1872-11-30  Scotland   England           0           0   Friendly
1  1873-03-08   England  Scotland           4           2   Friendly
2  1874-03-07  Scotland   England           2           1   Friendly
3  1875-03-06   England  Scotland           2           2   Friendly
4  1876-03-04  Scotland   England           3           0   Friendly

In [11]:
women_results = pd.read_csv('women_results.csv', index_col=0)
women_results.head()

         date home_team  away_team  home_score  away_score        tournament
0  1969-11-01     Italy     France           1           0              Euro
1  1969-11-01   Denmark    England           4           3              Euro
2  1969-11-02   England     France           2           0              Euro
3  1969-11-02     Italy    Denmark           3           1              Euro
4  1975-08-25  Thailand  Australia           3           2  AFC Championship

In [14]:
introducing = pd.read_csv('introduction_of_women_olympic_sports.csv')
introducing.head()

   sport     year
0   1900   tennis
1   1900     golf
2   1904  archery
3   1908   tennis
4   1908  skating

In [16]:
w_olympiad = pd.read_csv('womens_participation_in_the_games_of_the_olympiad.csv')
w_olympiad.head()

,year,sports,womens_events,total_events,%_of_womens_events,women_participants,%_of_women_participants
0,1900,2,2,95,2.1,22,2.2
1,1904,1,3,91,3.3,6,0.9
2,1908,2,4,110,3.6,37,1.8
3,1912,2,5,102,4.9,48,2.0
4,1920,2,8,154,5.2,63,2.4

In [17]:
w_winter = pd.read_csv('womens_participation_in_the_olympic_winter_games.csv')
w_winter.head()

,year,sports,womens_events,total_events,%_of_womens_events,women_participants,%_of_women_participants
0,1924,1,2,16,12.5,11,4.3
1,1928,1,2,14,14.3,26,5.6
2,1932,1,2,14,14.3,21,8.3
3,1936,2,3,17,17.6,80,12.0
4,1948,2,5,22,22.7,77,11.5

In [3]:
df = pd.read_csv('../input/forbes-highest-paid-athletes-19902019/Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020).csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '../input/forbes-highest-paid-athletes-19902019/Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020).csv'